server:
  port: 8083 # Port for the SkillService

spring:
  application:
    name: skill-service

  # --- JPA & PostgreSQL Configuration ---
  datasource:
    url: jdbc:postgresql://localhost:5432/skillswap_skilldb
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

